@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "CadetBlack";
    src: url("../public/fonts/Cadet-Black.ttf");
}

@font-face {
    font-family: "CadetBold";
    src: url("../public/fonts/Cadet-Bold.ttf");
}

body { 
    background: #F6F3EF;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
  }
  
  .ScrollStyle
  {
    max-height: 470px;
    overflow-y: scroll;
  }